body{

	height: 100%;
	background-color:white;
}

@trd-blue:#73cfef;

@header-img-height:250px;

@screen-md-min:992px;

.toronto-img{

	width:100%;
	border:40px solid white;
	height: 30vh;
	background-repeat: no-repeat;
	background-size: cover;
	// border-bottom:20px solid @trd-blue;

	@media all and (max-width:700px){

		height:60vh;
	}
}

.react-logo{

	width:80px;
	height:80px;
	background-size: contain;
}

.sovilon-logo{

	width:80px;
	height:80px;
	background-size: contain;
}

.footer{

	text-align: center;
}


.jumbotron{

	@media all and (max-width:@screen-md-min){

		// height: auto;
		// border-radius: 0px !important;
		// background-color: white;

		color:black;

		.bottom-border{

			width: 100%;
			background-color: black;
			border-bottom:5px solid white;
			// position: absolute;
			// bottom: 0;
			// left:0;
			height: 15px;
		}
	}

	background-color: fade(black, 50%);
	color: white;

	h1{

		// color:white;
		font-size:36px;
	}
	p{
		// color:white;
	}

	// height: 100vh;
}
