body {
  height: 100%;
  background-color: white;
}
.toronto-img {
  width: 100%;
  border: 40px solid white;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
@media all and (max-width: 700px) {
  .toronto-img {
    height: 60vh;
  }
}
.react-logo {
  width: 80px;
  height: 80px;
  background-size: contain;
}
.sovilon-logo {
  width: 80px;
  height: 80px;
  background-size: contain;
}
.footer {
  text-align: center;
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
@media all and (max-width: 992px) {
  .jumbotron {
    color: black;
  }
  .jumbotron .bottom-border {
    width: 100%;
    background-color: black;
    border-bottom: 5px solid white;
    height: 15px;
  }
}
.jumbotron h1 {
  font-size: 36px;
}
